@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: "Poppins-Bold";
        src: url('/Poppins/Poppins-Bold.ttf') format('truetype');
    }
    @font-face {
        font-family: "Poppins-SemiBold";
        src: url('/Poppins/Poppins-SemiBold.ttf') format('truetype');
    }
    @font-face {
        font-family: "Poppins-Medium";
        src: url('/Poppins/Poppins-Medium.ttf') format('truetype');
    }
    @font-face {
        font-family: "Poppins-Regular";
        src: url('/Poppins/Poppins-Regular.ttf') format('truetype');
    }
}

@layer utilities{
    .containerC {
       padding-inline: 10% ;
    }
}
